.vscode/launch.json
javaemailclient/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
javaemailclient/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
